.font-weight-bold {
    font-weight: 700;
}

.header-title {
    font-size: 1.8rem;
}

label {
    display: block;
    margin: 10px 0;
}

.container-wrap {
    margin: 0 auto !important;
    padding: 0 10px !important;
    max-width: 960px !important;
}